*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body {
    background-color: white;
}

header{
    display: flex;
    position: fixed;
    width: 100% !important;
    background-color: #10004F;
}

.cabeçalho{
    display: flex;
    width: 100%;
    margin-right: 2rem;
    align-items: center;
    justify-content:space-between;  
}

#logo{
   margin-left: 2rem;
   height: 100px;
   cursor: pointer;
}

#login{
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    font-size: 25px;
    background-color: #10004F;
    border: 0;
    cursor: pointer;
    transition: all 0.5s ease;
}

#login:hover{
    transform: scale(1.09);
}

.opções{
    display: flex;
    width: 45px;
    margin-right: 3rem;
    
}

.sidebar{
    height: 45px;
    transition: all 0.5s ease;
    cursor: pointer;
}
.sidebar:hover{
    transform: scale(1.09);
}

#opçõesbotao{
   background-color: #10004F;
   border: none
}

.container {
    display: flex;
    gap: 10px;
    color:white
}



.barra{
    display: flex;
    flex-wrap: wrap;
    min-height: 55px;
    max-height: 110px;
    margin-top: 85px;
    border-top: #ED1650 solid;
    background-color: #10004F;
    font-size: 30px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 80px;

}

#lista{
    text-decoration: none;
    margin-right: 80px;
    color: white;
    transition: all 0.5s ease;
}

#lista:hover{
    transform: scale(1.09);
}